### 연습문제
1. 모든행과 열에 라벨을 가지는 5*5 이상 크기의 데이터 프레임을 만든다.  
    - 최대한 간단한 코드로 작성-np의 난수 발생 함수 이용
2. 10가지 이상의 방법으로 특정한 행과 열을 추출해 볼 것
    - 2번 작업을 진행하면서 주석으로 추출하는 내용을 정리 할 것

In [1]:
# 패키지 import
import pandas as pd
import numpy as np

In [2]:
# 25,50 범위의 숫자를 생성 후 5행 5열로 배치
df=pd.DataFrame(np.arange(25,50).reshape(5,5),
               index = ['a','b','c','d','e'],
               columns = ["A","B","C","D","E"])
df

    A   B   C   D   E
a  25  26  27  28  29
b  30  31  32  33  34
c  35  36  37  38  39
d  40  41  42  43  44
e  45  46  47  48  49

In [3]:
# 위 df에 대하여 아래 내용을 인덱싱 하세요
# (인덱싱 우선 사용)

# 열 라벨 인덱싱, A열을 추출 - 시리즈

# 0행부터 2행까지 추출-슬라이싱 사용(행인덱싱)

# 열행 인덱싱 - 원소값 a행 A열-열우선인덱싱

# 1행의 3,4열(D,E열)

# df로 반환(행,열 모두 슬라이싱처리)

# 끝에서 두번째 행부터 마지막행까지 - df로 반환

# a행의 A부터 B열 - 시리즈로 반환

# a행의 A부터 B열 df로 반환

# 끝에서 두번째 행부터 마지막 행까지 끝에서 두번째 열부터 마지막 열까지

# 위치 인덱스 사용(행,열 슬라이싱 처리) -df로 반환

In [4]:
# 1. 열 라벨 인덱싱, A열을 추출 - 시리즈
df['A']

a    25
b    30
c    35
d    40
e    45
Name: A, dtype: int32

In [5]:
# 2. 0행부터 2행까지 추출 - 슬라이싱 사용 (행 인덱싱)

# df[0:3]  # 강사님 답안
df.iloc[0:3]  # 위치값만을 이용한 인덱서 iloc

    A   B   C   D   E
a  25  26  27  28  29
b  30  31  32  33  34
c  35  36  37  38  39

In [6]:
# 3. 열행 인덱싱 - 원소값 a행 A열-열우선인덱싱
df['A']['a']

25

In [7]:
# 4. 1행의 3,4열(D,E열)
df.iloc[1, 3:5]  # 5 생략 가능

D    33
E    34
Name: b, dtype: int32

In [8]:
# 5. df로 반환(행,열 모두 슬라이싱처리)

# df.loc['b':'b', 'D':'E']  # 강사님 답안
df.iloc[1:2, 3:5]

    D   E
b  33  34

In [9]:
# 6. 끝에서 두번째 행부터 마지막행까지 - df로 반환

# df.iloc[-2:]  # 강사님 답안
print(df)
print(df.shape)
print(df.shape[0])

df.iloc[df.shape[0]-2:df.shape[0]+1]

    A   B   C   D   E
a  25  26  27  28  29
b  30  31  32  33  34
c  35  36  37  38  39
d  40  41  42  43  44
e  45  46  47  48  49
(5, 5)
5

    A   B   C   D   E
d  40  41  42  43  44
e  45  46  47  48  49

In [10]:
# 7. a행의 A부터 B열 - 시리즈로 반환

# df.loc["a", "A":"B"]  # 강사님 답안
df.iloc[0, :2]

A    25
B    26
Name: a, dtype: int32

In [11]:
# 8. a행의 A부터 B열 df로 반환

# df.loc[["a"], "A":"B"]  # 강사님 답안
# df.loc["a":"a", "A":"B"]  # 강사님 답안
df.iloc[0:1, 0:2]

    A   B
a  25  26

In [12]:
# 9. 끝에서 두번째 행부터 마지막 행까지 끝에서 두번째 열부터 마지막 열까지
df.iloc[-2:, -2:]

    D   E
d  43  44
e  48  49

In [13]:
# 10. 위치 인덱스 사용(행,열 슬라이싱 처리) -df로 반환
print(df)
print(df.shape)
print(df.shape[0])  # 행
print(df.shape[1])  # 열

df.iloc[-2:, -2:]
df.iloc[df.shape[0]-2:df.shape[0]+1, df.shape[1]-2:df.shape[1]+1]

    A   B   C   D   E
a  25  26  27  28  29
b  30  31  32  33  34
c  35  36  37  38  39
d  40  41  42  43  44
e  45  46  47  48  49
(5, 5)
5
5

    D   E
d  43  44
e  48  49